<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    body{
      text-align: center;
    }
  </style>
</head>
<body>
  <h2>{{title}}</h2>
  <br><br>
  <input type="text" name="" (keyup)="onKeyUp(titleInput.value)"  [value]="title" #titleInput>
  <br><br>
  <button (click)="clickEvent()">Click me</button>
  <br><br>
  <app-course-card (courseSelected)="newcourseViewer($event)"
   [prop1]="courseCard.name"
    [newprop]="courseCard.rank" ></app-course-card>
    <!-- pipe example -->
    <h2>New Date: {{startDate | date: 'dd/MMM/yyyy'}}</h2>
    <h2>{{newString | uppercase}}</h2>  
    <h2>{{newString | lowercase}}</h2> 
    <h2>{{newString | titlecase}}</h2> 
    <h1>{{price | number: '3.3-5'}}</h1>
    <h1>{{price | currency}}</h1>

    <app-users [class.is_first]="true"
     (userToApp)="newFunction($event)" *ngFor="let user of users; index as i"
     [newUser]="user"
     [cardIndex]="i+1"></app-users>
</body>
</html>
